<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
  </head>
  <body>
    <h1>Admin Panel</h1>
    <p>Number of games played: <%= numGames %></p>
    <p>Average score: <%= avgScore.toFixed(2) %></p>
  </body>
</html>
